
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  <br><br>
    <table style="width:80%">
        <tr>
          <th>Features</th>
          <th>Details</th>
       
      
        </tr>
        <tr>
          <td>Barnd</td>
          <td>Asus</td>
        
          
      
        </tr>
        <tr>
          <td>Graphics Coprocessor</td>
          <td>Intel UHD Graphics 620</td>
       
          
        </tr>
        <tr>
          <td>Hard Drive Size</td>
          <td>1 TB</td>
      
        </tr>
        <tr>
          <td>RAM Size</td>
          <td>8 GB</td>
      
        </tr>
        <tr>
          <td>Price</td>
          <td>52,031</td>
      
        </tr>
      </table>
  